body {
  background: #999;
  color: #fff;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}

canvas {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  image-rendering:optimizeSpeed;
  image-rendering:-moz-crisp-edges;
  image-rendering:-webkit-optimize-contrast;
  image-rendering:-o-crisp-edges;
  image-rendering:crisp-edges;
  image-rendering:pixelated;
  -ms-interpolation-mode: nearest-neighbor;

  display: block;
  border: 0.2em solid white;
}
